<VirtualHost *:80>
        ServerName mydamnbudget.local
        DocumentRoot WEB_ROOT/public

        <Directory WEB_ROOT>
            AllowOverride All
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/mydamnbudget-error.log
        CustomLog ${APACHE_LOG_DIR}/mydamnbudget-access.log combined
</VirtualHost>